<a href="https://colab.research.google.com/github/manianju2006/lly-llls-python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

column_headers = df.columns.tolist()
print("List of DataFrame column headers (from Part E):")
print(column_headers)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

==================================================

List of DataFrame column headers (from Part E):
['name', 'score', 'attempts', 'qualify']

In [3]:


import pandas as pd
import numpy as np

# Part A: Create the DataFrame
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Part B: Change 'James' to 'Suresh'
df.loc[df['name'] == 'James', 'name'] = 'Suresh'

print("DataFrame after changing 'James' to 'Suresh':")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

==================================================

DataFrame after changing 'James' to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
import numpy as np
# Define array
arr = np.array([3, 7, 1, 9, 5, 3, 7, 1, 8])
# Find indices of maximum and minimum numbers
max_index = np.argmax(arr)
min_index = np.argmin(arr)
print("Index of maximum number:", max_index)
print("Index of minimum number:", min_index)
# Additional NumPy operations
print("Maximum value:", np.max(arr))
print("Minimum value:", np.min(arr))
print("Unique elements:", np.unique(arr))
print("Bincount of elements:", np.bincount(arr))
print("Array representation using repr():", repr(arr))

Index of maximum number: 3
Index of minimum number: 2
Maximum value: 9
Minimum value: 1
Unique elements: [1 3 5 7 8 9]
Bincount of elements: [0 2 0 2 0 1 0 2 1 1]
Array representation using repr(): array([3, 7, 1, 9, 5, 3, 7, 1, 8])

In [5]:
import numpy as np

array = np.array([1, 2, 3, 4, 5])
if np.all(array):
    print("None of the elements in the array is zero.")
else:
    print("There is at least one zero element in the array.")

None of the elements in the array is zero.